@model IEnumerable<FINALBRIGHTPROJECT.ViewModel.BrightModel.RolesView>

@{
    ViewBag.Title = "RemoveFromRole";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RemoveFromRole</title>
</head>
<body>
    <div>
    </div>
</body>
</html>